<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ScoreKeeper</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<div class="main maincont" >
		<div class="alert alert-warning" v-show="warning" transition="fade">
			<span class="glyphicon glyphicon-warning-sign"></span> {{ warning }}
		</div>
		<div class="alert alert-success" v-show="gameOver" transition="fade">
			<span class="glyphicon glyphicon-info-sign"></span> {{ winner | capitalize }} has won !
		</div>
		<button v-on:click="refresh(false)" v-show="gameOver" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span> New game</button>
		<button v-on:click="refresh(true)" v-show="gameOver" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span> Replay with the same players</button>

		<div class="">
			<table class="table">
				<tbody>
					<tr v-for="player in players" transition="fade" :style="{'background-color':  player.color }">
						<td v-if="$index+1 < 4" class="rank{{$index+1}}"> {{ $index+1 | rank }} </td>
						<td v-else> {{ $index+1 | rank }} </td>
						<td class="name">{{ player.name | capitalize }}
						  <span class="points">{{ player.points }}</span></td>
						<td v-show="!gameOver" class="btn-group"><button v-on:click="addPoints($index, 1)" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></button>
						<button v-on:click="addPoints($index, 3)" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span><span class="glyphicon glyphicon-plus-sign"></span><span class="glyphicon glyphicon-plus-sign"></span></button>
						<button v-on:click="reducePoints($index)" class="btn btn-default"><span class="glyphicon glyphicon-minus-sign"></span></button>
						<button v-on:click="removePlayer($index)" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div v-show="!gameOver">
			<label for="newPlayer">Add a player : </label>
			<input id="newPlayer" type="text" v-model="name" v-on:keyup.enter="addPlayer()" autofocus>
			<button v-on:click="addPlayer()" class="btn btn-default">Add</button><br/>
		</div>

		<div v-show="players.length && !gameOver">
			<button v-on:click="resetAllScore()" class="btn btn-default"> Reset scores </button>
			<button v-on:click="reset()" class="btn btn-default"> Reset all </button>
			<button v-on:click="endGame()" class="btn btn-default"> End game </button>
		</div>

		<h4 v-show="history.length">Game's History</h4>
		<select v-show="players.length" v-model="historyName" class="form-control parse-history">
			<option value="" selected>All</option>
			<option v-for="player in players" value="{{player.name}}">{{ player.name | capitalize }}</option>
		</select>

		<ul id="history" class="list-group">
			<li v-for="action in history | filterBy filterHistory" class="list-group-item" track-by="$index">{{ action | capitalize }}</li>
		</ul>

	</div>


	<script src="js/vue.js"></script>
	<script src="js/vue-animated-list.js"></script>
	<script src="js/main.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
